
*{
  font-family: 'Noto Sans KR', Poppins, sans-serif;
}
.container{

  background-color: antiquewhite;
}

.wrapper_title{
  padding: 40px 0;
  text-align: center;
}
.line{
  border: solid 2px ;
}

.wrapper_personalWeb ul{
  display: inline-flex;
  margin: 20px;
  align-items: center;
  list-style-type: none;
}
.wrapper_personalWeb li{
  margin-right: 50px;
}
.wrapper_personalWeb li:last-child{
  margin-right: 0px;
}
.profileImg{ 
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
