
*{
  font-family: 'Noto Sans KR', Poppins, sans-serif;
}
#container{
  background-color: antiquewhite;
}

.tit_personalWeb{
  padding: 40px 0;
  text-align: center;
  border-bottom: 2px solid;
}


.wrap_personalWeb h2{
  margin-top: 20px;
  font-size: 20px;
}

.wrap_personalWeb ul{
  display: inline-flex;
  flex-wrap: wrap;
  margin: 20px 0 0 20px;
  list-style-type: none;
}
.wrap_personalWeb li{
  margin: 0 50px 20px 0px;

}
.wrap_personalWeb li:last-child{
  margin-right: 0px;
}
.wrap_personalWeb a{
  display: flex;
  align-items: center;
}
.wrap_personalWeb img{
  margin-right: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
